<!-- <div>Test</div>
<main class="h-full flex justify-center">

</main>
 -->

<!-- <nz-layout>
    <nz-header>
        <div class="header-content">
            <app-header-nav></app-header-nav>
        </div>
    </nz-header>
    <nz-content>
        <div class="main-content">
        <router-outlet></router-outlet>
        </div>
    </nz-content>
    <nz-footer></nz-footer>
</nz-layout> -->



<nz-layout>
    <nz-header>
            <app-header-nav></app-header-nav>
    </nz-header>
    <nz-content>
        <router-outlet></router-outlet>
    </nz-content>
    <nz-footer></nz-footer>
</nz-layout>